<form method="post">
	<div class="group">      
      <input type="text" name='name'placeholder="Your name" required>
      <span class="highlight"></span>
      <span class="bar"></span>
    </div>

	<div class="group">      
      <input type="text" name='email' placeholder="Your email" required>
      <span class="highlight"></span>
      <span class="bar"></span>
    </div>
      
    <div class="group">      
      <input type="password" name='password' placeholder="Your password"required>
      <span class="highlight"></span>
      <span class="bar"></span>
    </div>
	<input type="submit" value="Join">
</form>