<form method='post' ng-submit="submit2(user)" ng-controller='authCtrl'>
	<div class="group">      
      <input type="text" name='name' ng-model='user.name'placeholder="Your name" required>
      <span class="highlight"></span>
      <span class="bar"></span>
    </div>

	<div class="group">      
      <input type="text" name='email' ng-model='user.email' placeholder="Your email" required>
      <span class="highlight"></span>
      <span class="bar"></span>
    </div>
      
    <div class="group">      
      <input type="password" name='password'  ng-model='user.password_hash' placeholder="Your password"required>
      <span class="highlight"></span>
      <span class="bar"></span>
    </div>
	<input type="submit" value="Join">
</form>